<!DOCTYPE html>
<html>
  <head>
    <title>SnsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <div class="logo"><a href="/">logo</a></div>
    <nav>
      <div class="profile"><a href="profile">プロフィール</a></div>
      <div class="post"><a href="posts">投稿</a></div>
      <div class="post-list"><a href="postslist">投稿一覧</a></div>
      <div class="login"><a href="login">ログイン</a></div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
